<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- bean definitions here -->


	<!--standalone list -->
	
	<util:list list-class="java.util.LinkedList" id="mybff">
	
		<value>aman</value>
		<value>ajay</value>
		<value>aryan</value>
		<value>amrish</value>

	</util:list>

	<bean class="com.springcore.standalonecollection.Person" name="p1">
		<property name="friends" ref="mybff"></property>
	</bean>




	

	<!-- <util:map map-class="java.util.Hashmap" id="fees">
		<entry key="springboot" value="2000" />
		<entry key="python" value="5000" />
	</util:map>
	 <bean class="com.springcore.standalonecollection.Person" name="p3">
		<property name="feestructure" ref="fees"></property>
	</bean>

	<util:properties id="dbconfig">
		<prop key="driver">com.mysql.jdbc.Driver</prop>
		<prop key="url"> mysql:jdbc://localhost:3306/db</prop>
	</util:properties>
	<bean class="com.springcore.standalonecollection.Person" name="p2">
		<property name="properties" ref="dbconfig"></property>
	</bean> 
	-->

	
</beans>
 

 
 
 
